.TableHeader {
}
.TableBody {
  height: 600px;
  overflow-y: auto;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.TableBody::-webkit-scrollbar {
  display: none;
}

table.Table {
  width: 1200px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
table.Table th,
table.Table td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
table.Table th {
  text-align: left;
}
table.Table thead th {
  text-align: center;
  background-color: #55608f;
}
table.Table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
table.Table tbody td {
  position: relative;
}
table.Table tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

.Loading {
  text-align: center;
  height: 600px;
}
